<form method="POST" class="container col-8">
    <div class="form-check form-check-inline">
        <input class="form-check-input as_form" type="radio" name="admin" id="inlineRadio1" value="1" required>
        <label class="form-check-label" for="inlineRadio1">Administrateur</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input as_form" type="radio" name="admin" id="inlineRadio2" value="0" required>
        <label class="form-check-label" for="inlineRadio2">Utilisateur</label>
    </div>
    <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" value="{{ users.firstname }}" class="form-control as_form" name="firstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" value="{{ users.lastname }}" class="form-control as_form" name="lastname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Email</label>
        <input type="email" value="{{ users.email }}" class="form-control as_form" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Téléphone</label>
        <input type="Tel" value="{{ users.phone }}" class="form-control as_form" name="phone" required>
    </div>
    <div class="form-group">
        <label for="address">Adresse</label>
        <input type="text" value="{{ users.address }}" class="form-control as_form" pattern="{0-9}" name="address">
    </div>
    <div class="form-group">
        <label for="postcode">Code postal</label>
        <input type="number" value="{{ users.postcode }}" class="form-control as_form" name="postcode" required>
    </div>
    <div class="form-group">
        <label for="city">Ville</label>
        <input type="city" value="{{ users.city }}" class="form-control as_form" name="city">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" value="{{ users.password }}" class="form-control as_form" name="password" required>
    </div>
    <div class="form-group">
        <label for="image">image</label>
        <input type="text" value="{{ users.image }}" class="form-control as_form" name="image" required>
    </div>
    <button type="submit" class="btn btn-outline-primary as_a_apl" value="send" >Envoyer</button>
    <a href="/Admin/view/{{ users.id }}" class="btn btn-outline-dark as_a_dark"><i class="fas fa-undo"></i> Retour</a>
</form>