<form method="POST" class="container col-8">
    <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" value="{{ users.firstname }}" class="form-control as_thead" name="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" value="{{ users.lastname }}" class="form-control as_thead" name="lastname">
    </div>
    <div class="form-group">
        <label for="lastname">Email</label>
        <input type="email" value="{{ users.email }}" class="form-control as_thead" name="email">
    </div>
    <div class="form-group">
        <label for="password">Téléphone</label>
        <input type="Tel" value="{{ users.phone }}" class="form-control as_thead" name="phone">
    </div>
    <div class="form-group">
        <label for="address">Adresse</label>
        <input type="text" value="{{ users.address }}" class="form-control as_thead" pattern="{0-9}" name="address">
    </div>
    <div class="form-group">
        <label for="postcode">Code postal</label>
        <input type="number" value="{{ users.postcode }}" class="form-control as_thead" name="postcode">
    </div>
    <div class="form-group">
        <label for="city">Ville</label>
        <input type="city" value="{{ users.city }}" class="form-control as_thead" name="city">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" value="{{ users.password }}" class="form-control as_thead" name="password">
    </div>
    <div class="form-group">
        <label for="image">image</label>
        <input type="text" value="{{ users.image }}" class="form-control as_thead" name="image">
    </div>
    <button type="submit" class="btn btn-outline-primary as_a_apl" value="send" >Envoyer</button>
    <a href="/users/show/{{ users.id }}" class="btn btn-outline-dark as_a_dark"><i class="fas fa-undo"></i> Retour</a>
</form>